    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Tentang Kami</h1>
                    <p>Setiap proyek dalam e-patungan adalah kreasi independen dari masyarakat di lingkungan sekitar.
                        Ingin tahu lebih banyak tentang bagaimana proyek berjalan, atau mulai dengan menginisiasi proyek Anda?</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Subatech.</span></strong><br/>
                        Plaza Bapindo<br/>
                        9th Floor Jalan Jenderal Sudirman Kav 54 - 55. Jakarta 12190<br/>
                        <abbr title="Phone">P:</abbr> (+6231) 999-8888
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        E-patungan adalah sebuah komunitas yang membawa nilai-nilai lokal indonesia seperti gotong royong dalam era digital untuk kehidupan lebih baik.
                        Bantu atau bagikan proyek anda disini.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:epatungan.subatech@gmail.com" class="btn btn-primary">Hubungi email</a>
                    <p class="m-t-sm">
                        dan temukan kami di media social
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/e_patungan"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/epatungan/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/epatungan/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/epatungan"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 Sukses Berkah Technology</strong><br/> WUJUDKAN mimpimu, bersama KITA BISA!.</p>
                </div>
            </div>
        </div>
    </section>
