<div class="middle-box text-center animated fadeInDown">
    <h1 class="font-bold">Donasi Dompet Dhuafa</h1>
    <h4>Oleh Ali Topan</h4>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="ibox product-detail">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-7">


                        <slick dots="true">

                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-1.jpg" alt="1"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-2.jpg" alt="2"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-3.jpg" alt="3"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-4.jpg" alt="4"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-5.jpg" alt="5"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-6.jpg" alt="6"/>
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    <img src="img/gallery/konten-1-7.jpg" alt="6"/>
                                </div>
                            </div>
                        </slick>

                    </div>
                    <div class="col-md-5">

                        <div class="col-md-6">

                            <div class="profile-image">
                                <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                            </div>
                            <div class="profile-info">
                                <div class="">
                                    <div>
                                        <h2 class="no-margins">
                                            Ali Topan
                                        </h2>
                                        <h4>Ketua yayasan</h4>
                                        <!--<small>
                                            There are many variations of passages of Lorem Ipsum available, but the majority
                                            have suffered alteration in some form Ipsum available.
                                        </small>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <table class="table small m-b-xs">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong>142</strong> Projects
                                    </td>
                                    <td>
                                        <strong>22</strong> Followers
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <strong>61</strong> Comments
                                    </td>
                                    <td>
                                        <strong>54</strong> Articles
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div>
                            <br/><br/><br/><br/><br/><br/>
                            <h1 class="font-bold">100</h1>
                            <h4>patungers</h4>
                            <h1 class="font-bold">Rp 5.000.000</h1>
                            <h4>terkumpul dari target 5000</h4>
                            <h1 class="font-bold">30</h1>
                            <h4>hari tersisa</h4>
                        </div>

                        <div>
                            <div class="btn-group">
                                <a href="#/dashboards/payments" class="btn btn-primary btn-sm" role="button">Lakukan  donasi</a>
                                <!--<button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Lakukan donasi</button>-->
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Tambahkan ke wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Hubungi pihak pembuat </button>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="strong">
                    <strong><i class="fa fa-map-marker"></i> Bogor, Indonesia</strong>
                    <strong><i class="fa fa-tags"></i> Tolong Patungan</strong>
                </div>
            </div>
        </div>

    </div>
</div>



</div>








<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="" class="btn btn-white btn-xs pull-right">Edit project</a>

                                <!--<h2>Contract with Zender Company</h2>-->
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd><span class="label label-primary">Aktif</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Digagas oleh:</dt>
                                <dd>Alex Smith</dd>
                                <dt>Pesan:</dt>
                                <dd> 162</dd>
                                <dt>Klien:</dt>
                                <dd><a href="" class="text-navy"> Dompet Dhuafa</a></dd>
                                <dt>Versi:</dt>
                                <dd> v1.4.2</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Diupdate pada:</dt>
                                <dd>16.08.2014 12:15:57</dd>
                                <dt>Dibuat pada:</dt>
                                <dd> 10.07.2014 23:36:57</dd>
                                <dt>Patungers:</dt>
                                <dd class="project-people">
                                    <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 15%;" class="progress-bar"></div>
                                    </div>
                                    <small>Proyek berjalan sebesar <strong>15%</strong> dari keseluruhan pendanaan</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">

                                <tabset>
                                    <tab heading="Rincian" active="tab.active" >
                                        <div class="social-body">
                                            <p>
                                                Mari bangun Kembali Sekolah Master, jangan biarkan anak-anak itu kehilangan akses sekolah dan mimpi mereka
                                            </p>
                                            <p>
                                                Anda bisa ikut ambil bagian. Dengan bersedekah dan membantu membangun kelas baru, memberi pendidikan untuk lebih banyak anak jalanan.
                                                Bagaimana sedekah Anda memberi berkah?
                                            </p>
                                            <img src="img/gallery/konten-1-2.jpg" class="img-responsive">
                                            <p>
                                                Ini kesempatan berinvestasi jangka panjang. Bukan untuk Anda, tapi untuk ummat dan peradaban.
                                                Sedekah Anda akan membantu lebih banyak anak-anak jalanan memiliki rumah untuk belajar.
                                                Sedekah akan digunakan untuk pembangunan ruangan sekolah Master yang baru.
                                                1. Pekerjaan Persiapan dan Pondasi : Rp 51.500.000
                                                2. Pengerjaan Lantai Bawah Kontainer : Rp 13.350.000
                                                3. Pekerjaan Baja : Rp 60.500.000
                                                4. Pekerjaan Kontainer : Rp 110.000.000
                                                5. Pekerjaan Atap : Rp 20.000.000
                                                6. Pengerjaan Tangga dan Selasar : Rp 44.650.000
                                            </p>

                                            <div class="btn-group">
                                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                                                <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Pesan patungers"class="dsads">
                                        <div class="feed-activity-list">
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/a2.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right">2h ago</small>
                                                    <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                                    <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                    <div class="well">
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/a3.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right">2h ago</small>
                                                    <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                                    <small class="text-muted">2 days ago at 8:30am</small>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right text-navy">5h ago</small>
                                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                                    <div class="actions">
                                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                        <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/a5.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right">2h ago</small>
                                                    <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                                    <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                                                    <div class="well">
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right">23h ago</small>
                                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <a href="" class="pull-left">
                                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                                </a>

                                                <div class="media-body ">
                                                    <small class="pull-right">46h ago</small>
                                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Daftar Kegiatan">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Create project in webapp
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    Various versions
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    There are many variations
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    Latin words
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Latin words, combined with a handful of model sentence structures
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    The generated Lorem
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    The first line
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    The standard chunk
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Lorem Ipsum is that
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    Contrary to popular
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                                    </p>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </tab>

                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="contact-box">
            <a ui-sref="profile">

                    <h3><strong>Donasi Rp 50.000</strong></h3>

                    <strong><p><i class="fa fa-square"></i> 100 Patungers tersisa</p></strong>
                    <address>
                        Sumbangan akan dirupakan makanan pokok<br>
                        untuk 3 orang dhuafa<br>
                        berupa nasi kotak<br>
                        <abbr title="Phone">Perkiraan jadwal:</abbr> Segera
                    </address>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="contact-box">
            <a ui-sref="profile">

                <h3><strong>Donasi Rp 100.000</strong></h3>

                <strong><p><i class="fa fa-square"></i> 100 Patungers tersisa</p></strong>
                <address>
                    Sumbangan akan dirupakan batu bata<br>
                    untuk pembangunan<br>
                    sekolah<br>
                    <abbr title="Phone">Perkiraan jadwal:</abbr> Segera
                </address>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="contact-box">
            <a ui-sref="profile">

                <h3><strong>Donasi Rp 500.000</strong></h3>

                <strong><p><i class="fa fa-square"></i> 100 Patungers tersisa</p></strong>
                <address>
                    Sumbangan akan dirupakan semen<br>
                    untuk pembangunan<br>
                    sekolah<br>
                    <abbr title="Phone">Perkiraan jadwal:</abbr> Segera
                </address>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Hubungi Kami</h1>
                <p>Setiap proyek dalam e-patungan adalah kreasi independen dari masyarakat di lingkungan sekitar.
                    Ingin tahu lebih banyak tentang bagaimana proyek berjalan, atau mulai dengan menginisiasi proyek Anda?</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Subatech.</span></strong><br/>
                    Plaza Bapindo<br/>
                    9th Floor Jalan Jenderal Sudirman Kav 54 - 55. Jakarta 12190<br/>
                    <abbr title="Phone">P:</abbr> (+6231) 999-8888
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    E-patungan adalah sebuah komunitas yang membawa nilai-nilai lokal indonesia seperti gotong royong dalam era digital untuk kehidupan lebih baik.
                    Bantu atau bagikan proyek anda disini.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:angga.kusumandaru@gmail.com" class="btn btn-primary">Hubungi email</a>
                <p class="m-t-sm">
                    dan temukan kami di media social
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 Sukses Berkah Technology</strong><br/> Crowdfunding local yang mengerti anda.</p>
            </div>
        </div>
    </div>
</section>