<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div class="row">


        <div class="middle-box">
            <div class="ibox-content">
                <h2>Daftar</h2>
                <form class="m-t" role="form" action="login.html">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nama" required="">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox-term" type="checkbox">
                            <label for="checkbox-term" style="font-size: 80%">
                                Menyetujui syarat dan ketentuan penggunaan
                            </label>
                        </div>
                        <div class="checkbox checkbox-success">
                            <input id="checkbox-newsletter" type="checkbox" checked="">
                            <label for="checkbox-newsletter" style="font-size: 80%">
                                Menerima newsletter  dan update e-patungan.
                            </label>
                        </div>
                       <!--<div class="checkbox checkbox-success"><label> <input type="checkbox"><i></i> Menyetujui syarat dan ketentuan penggunaan</label></div>
                       <div class="checkbox checkbox-successs"><label> <input type="checkbox" checked><i></i> Menerima newsletter dan update e-patungan </label></div>
                       -->
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Daftar</button>

                    <p class="text-muted text-center"><small>Telah memiliki akun?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="#/dashboards/login">Login</a>
                </form>
                    <!--<p class="m-t">
                    <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
                </p>-->
            </div>
        </div>
    </div>

</div>